.cards{
    list-style: none;
    font-size: 1.5rem;
}

.movieImage{
    border-radius: 20px;
    background-color: rgb(208, 255, 0);
}

.Text{    
    background-color: goldenrod;
    border-radius: 12px;
}